/* Importing the Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Adding the code for no scrollbar */
@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.userPage {
    background-image: url('./assets/randomUser.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jokePage {
    background-image: url('./assets/randomJokesBg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.catListingPage {
    background-color: #00000060;
    background-image: url('./assets/catListingBgDesign.png');
    background-repeat: no-repeat;
    background-size: cover;
}